@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@font-face{
    font-family:"ZenOldMincho";
    src:url("../fonts/ZenOldMincho-Regular.woff2") format("woff2"), url("../fonts/ZenOldMincho-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "ZenOldMincho";
    src:url("../fonts/ZenOldMincho-Bold.woff2") format("woff2"), url("../fonts/ZenOldMincho-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "ZenOldMincho";
    src:url("../fonts/ZenOldMincho-Black.woff2") format("woff2"), url("../fonts/ZenOldMincho-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Comforter";
    src:url("../fonts/Comforter-Regular.woff2") format("woff2"), url("../fonts/Comforter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*Подключени еграниц элементов для визуализации схлопывания*/
/*
*{
    border: 1px solid black;
}
*/
.wrapper{
	overflow: hidden;
	min-height: 100%;
    max-width: 800px;
}
body{
    font-family: "ZenOldMincho", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    background-color: rgb(238, 242, 160);
}
.header{
    margin-bottom: 20px;
}
h1{
    font-family: "comforter";
    color: red;
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}
main{
    margin-bottom: 10px;
    text-align: center;
}
.button{
    margin-bottom: 100px;
    display: inline-block;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(154,26,154,0.896796218487395) 100%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}
.button1{
    margin-bottom: 50px;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(265deg, rgba(78,195,34,1) 0%, rgba(224,253,45,1) 100%);
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 0 0 grey;
}
.hidden:hover .button{
    visibility: hidden;
}
.button1:hover{
    margin: 1px 0px 50px 0px;
	background-color: rgb(3, 151, 3);
	box-shadow: 0 4px 0 0 rgb(5, 55, 252);
}
#text{
    display:none;
    margin-bottom: 50px;
}
#text:target{
    display:block;
}
.button2{
    margin-bottom: 50px;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(265deg, rgba(78,195,34,1) 0%, rgba(224,253,45,1) 100%);
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
}
.button2:hover{
    margin: 1px 0px 50px 0px;
	background-color: rgb(3, 151, 3);
	box-shadow: 0 4px 0 0 rgb(223, 15, 15);
}
